---
import ProyectoCard from "../components/ProyectCard";
import "../styles/global.css";

// agregar para content collection
import { getCollection } from "astro:content";

const allArticulos = await getCollection("articulos");
---

<html>
  <head>
    <title>My Astro Page</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body
    class="bg-slate-950 text-white flex flex-col items-center justify-center mb-10 "
  >
    <h1 class="text-5xl font-bold">JAM Stack</h1>
    <ul class="flex flex-col items-center justify-center mt-10 gap-10">
      {
        allArticulos.map((proyecto: any) => (
          <ProyectoCard
            client:load
            key={proyecto.name}
            name={proyecto.data.name}
            content={proyecto.body}
          />
        ))
      }
    </ul>
  </body>
</html>
